.color_pink_bg {
  background-color: #fb3b64;
}

.color_pink_color {
  color: #fb3b64;
}

.color_green_bg {
  background-color: #55dfb4;
}

.color_green_color {
  color: #55dfb4;
}

.color_blue_bg {
  background-color: #08a6e4;
}

.color_blue_color {
  color: #08a6e4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Raleway";
}

.header {
  width: 100%;
  height: 5rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 2rem;
  cursor: pointer;
}

.nav__opcions {
  display: none;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.section__button__shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  margin-top: 5rem;
}

.h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.paragraph {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
}

.button__shop {
  width: 70%;
  height: 4rem;
  margin: 0 auto;
  border-radius: 20px;
  color: white;
  border: none;
  box-shadow: 0 5px 7px rgba(26, 182, 243, 0.4784313725);
  font-size: 1rem;
  cursor: pointer;
}

.button__shop:hover {
  transition: all 200ms;
  transform: scale(1.05);
  color: #08a6e4;
  background-color: white;
}

.span__pc1 {
  width: 100%;
}

.img__bg_movile {
  display: block;
}

.img__bg_pc {
  display: none;
}

.img__bg {
  width: 100%;
  object-fit: cover;
}

.section__most_popular {
  width: 100%;
  padding: 5rem;
  padding-top: 2rem;
  text-align: center;
}

.div__objets_popular {
  display: flex;
  flex-direction: column;
}

.section__most_popular h2 {
  font-weight: 400;
}

.objet__popular {
  margin-top: 3rem;
  position: relative;
}

.elipse__img {
  position: relative;
}

.person__img {
  position: absolute;
  top: 0.5vh;
  left: 50%;
}

.p__number_popular {
  font-weight: 800;
  font-size: 1.5rem;
}

.text__popular {
  font-weight: 500;
  color: #a6a8a8;
  margin-top: 1rem;
  text-align: center;
}

.section__datas {
  width: 100%;
  padding: 2rem;
  background-color: #f7f7f7;
}

.div__always_first {
  text-align: left;
  background-color: white;
  border: 1px solid rgba(204, 204, 204, 0.555);
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.container__img {
  margin-top: 3rem;
  width: 100%;
  align-items: center;
  position: relative;
  text-align: center;
}

.container__img_trumpet {
  background-color: #55dfb4;
  width: 100%;
}

.img_below {
  position: absolute;
}

.img_up {
  position: relative;
}

.img__img1 {
  left: 50%;
  top: -2.5rem;
}

.img__trumpet {
  top: 2rem;
  left: -10%;
}

.div__always_first h2 {
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.section__pricing {
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.section__pricing h2 {
  font-weight: 300;
  font-size: 3rem;
}

.box__general_pricing {
  border: 1px solid #fb3b64;
  margin-top: 3rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
}

.money {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.opcion__pricing {
  width: 100%;
  text-align: left;
}

.opcion__pricing p {
  margin-top: 1rem;
}

.opcion__pricing p span {
  margin-right: 0.5rem;
}

.money p {
  font-size: 3rem;
}

.button__precing {
  position: absolute;
  top: 13rem;
  left: 30%;
  width: 40%;
  height: 3rem;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: white;
}

.border__green {
  border: 1px solid #55dfb4;
}

.border__blue {
  border: 1px solid #08a6e4;
}

.border__blue:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 7px #08a6e4;
}

.border__green:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 7px #55dfb4;
}

.border__pink:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 7px #fb3b64;
}

.section__form {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.h2__form_title {
  font-size: 2.5rem;
  font-weight: 300;
}

.p__form_title {
  font-size: 1rem;
}

.div__contact_dates {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.img__span_contact {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.form {
  width: 100%;
}

.label__form {
  color: #08a6e4;
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 0.5rem;
}

.input__form {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.589);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  outline: none;
  font-family: "Raleway";
}

.div__accept_consent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.input__checkbox {
  width: 100%;
  align-self: flex-start;
  justify-content: flex-end;
}

.label__conditions {
  font-weight: 300;
  color: rgb(180, 180, 180);
}

.button__send {
  width: 60%;
  height: 2.5rem;
  border-radius: 20px;
  border: none;
  background-color: #08a6e4;
  color: white;
  float: right;
  margin-top: 2rem;
  box-shadow: 0 5px 7px #08a6e4;
  cursor: pointer;
}

.button__send:hover {
  transition: all 200ms;
  transform: scale(1.05);
  color: #08a6e4;
  background-color: white;
}

.footer {
  width: 100%;
  display: flex;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  justify-content: space-between;
}

.h2__title_footer {
  color: #08a6e4;
  font-weight: 300;
  cursor: pointer;
}

.p__copyright {
  color: #c0c0c0;
  font-size: 0.7rem;
}

@media screen and (min-width: 840px) {
  .nav__opcions {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .nav__opcion {
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    color: #929292;
  }
  .nav__opcion:hover {
    border-bottom: 2px solid #08a6e4;
    color: black;
  }
  .nav__menu {
    display: none;
  }
  .button__shop {
    width: 40%;
  }
  .img__bg_pc {
    display: inline;
  }
  .img__bg_movile {
    display: none;
  }
  .div__objets_popular {
    margin-top: 3rem;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1150px) {
  .nav__opcions {
    width: 35%;
  }
  .div__general_box_precing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .section__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 60%;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .form {
    width: 50%;
  }
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1450px) {
  .section__form {
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5rem;
    width: 40%;
    margin-bottom: 5rem;
  }
  .form {
    width: 45vh;
  }
}

/*# sourceMappingURL=styles.css.map */
