@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@200;300;400;500;600;700;800&display=swap");
.color_pink_bg {
  background-color: #fb3b64;
}

.color_pink_color {
  color: #fb3b64;
}

.color_green_bg {
  background-color: #55dfb4;
}

.color_green_color {
  color: #55dfb4;
}

.color_blue_bg {
  background-color: #08a6e4;
}

.color_blue_color {
  color: #08a6e4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Raleway";
}

.div__complet_sscroller {
  width: 100%;
  height: 2px;
  position: fixed;
  z-index: 99;
}

#scrollerPrigress {
  width: 0;
  height: 2px;
  background-color: #fb3b64;
  z-index: 999;
}

.header {
  width: 100%;
  height: 4.37rem;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: Raleway;
  font-weight: 300;
  font-size: 32px;
  cursor: pointer;
}

.nav__opcions {
  display: none;
  flex-direction: column;
  position: absolute;
  width: 100%;
  text-align: left;
  top: 4rem;
  background-color: white;
  padding-left: 1.56rem;
  height: 14rem;
  justify-content: center;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.25);
}

.nav__opcion {
  margin-bottom: 0.8rem;
  font-family: Open Sans;
  font-size: 0.7875rem;
  color: #a5a5a5;
  font-weight: 700;
}

.nav__opcion:hover {
  color: black;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2.75rem;
}

.section__button__shop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 20rem;
  margin-top: 5rem;
}

.h2 {
  text-align: center;
  font-size: 49px;
  font-weight: 400;
  font-family: Raleway;
}

.paragraph {
  font-family: Open Sans;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 16px;
}

.button__shop {
  width: 70%;
  height: 4rem;
  margin: 0 auto;
  border-radius: 2.18rem;
  color: white;
  border: none;
  box-shadow: 0 5px 7px rgba(26, 182, 243, 0.4784313725);
  font-size: 16px;
  cursor: pointer;
  font-weight: 700;
  font-family: Open Sans;
}

.button__shop:hover {
  transition: all 200ms;
  transform: scale(1.05);
  color: #08a6e4;
  background-color: white;
}

.span__pc1 {
  width: 100%;
}

.img__bg_movile {
  display: block;
}

.img__bg_pc {
  display: none;
}

.img__bg {
  width: 100%;
  object-fit: cover;
}

.section__most_popular {
  width: 100%;
  padding: 5rem;
  padding-top: 2rem;
  text-align: center;
}

.div__objets_popular {
  display: flex;
  flex-direction: column;
}

.section__most_popular h2 {
  font-weight: 400;
  font-family: Releway;
  font-size: 36px;
}

.objet__popular {
  margin-top: 3rem;
  position: relative;
}

.elipse__img {
  position: relative;
}

.person__img {
  position: absolute;
  top: 0.5vh;
  left: 50%;
}

.p__number_popular {
  font-size: 20px;
  font-family: Raleway;
  font-weight: 800;
}

.text__popular {
  font-weight: 400;
  color: #a6a8a8;
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  font-family: Raleway;
  width: 60%;
}

.section__datas {
  width: 100%;
  padding: 3rem;
  background-color: #f7f7f7;
}

.div__always_first {
  text-align: left;
  background-color: white;
  border: 1px solid rgba(204, 204, 204, 0.555);
  border-radius: 5px;
  max-width: 19.625em;
  height: 24rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.div__aways_trumpet {
  border: none;
  background-color: transparent;
}

.container__text_cart_trumpet {
  background-color: white;
  border: 1px solid rgba(204, 204, 204, 0.555);
}

.container__text_cart {
  padding: 1rem;
  padding-top: 0;
}

.container__text_cart h2 {
  font-family: Raleway;
  font-size: 1.875rem;
  font-weight: 400;
  max-width: 26rem;
}

.container__text_cart p {
  font-family: Open Sans;
  font-size: 0.875rem;
  font-weight: 400;
}

.container__img {
  margin-top: 3rem;
  width: 100%;
  align-items: center;
  position: relative;
  text-align: center;
}

.container_img_movile {
  margin-top: 0.5rem;
}

.container__img_trumpet {
  background-color: #55dfb4;
  max-width: 27.5rem;
  box-sizing: content-box;
  margin-top: 0;
  z-index: 1;
}

.img_below {
  position: absolute;
}

.img_up {
  position: relative;
}

.img__img1 {
  left: 50%;
  top: -2.5rem;
}

.img__trumpet {
  top: 2rem;
  left: -10%;
  width: 70%;
}

.section__pricing {
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-family: "Raleway";
}

.section__pricing h2 {
  font-family: Raleway;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 3rem;
}

.span__buttons_money {
  width: 100%;
  max-width: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.span__buttons_money button {
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: rgba(233, 231, 231, 0.555);
  box-shadow: 0 2px 5px #55dfb4;
  cursor: pointer;
}

.span__buttons_money button:hover {
  box-shadow: 0 2px 5px #fb3b64;
}

.box__general_pricing {
  border: 1px solid #fb3b64;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  padding-bottom: 2rem;
  position: relative;
  width: 100%;
  max-width: 25rem;
  cursor: pointer;
}

.div__money {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.div__money h3 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
}

.p__cant {
  font-size: 25px;
  font-weight: 300;
  font-family: Open Sans;
  margin-bottom: 5px;
  margin-top: 14px;
}

.span__limit {
  font-weight: 700;
  font-family: Raleway;
  font-size: 12px;
}

.opcion__pricing {
  width: 100%;
  text-align: left;
}

.opcion__pricing li {
  margin-top: 1rem;
  text-decoration: none;
  list-style: none;
}

.opcion__pricing li span {
  margin-right: 0.5rem;
}

.div__button_precing {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  text-align: center;
}

.button__precing {
  width: 10.3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  color: white;
}

.border__green {
  border: 1px solid #55dfb4;
}

.border__blue {
  border: 1px solid #08a6e4;
}

.border__blue:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 7px #08a6e4;
}

.border__green:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 7px #55dfb4;
}

.border__pink:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 7px #fb3b64;
}

.section__form {
  width: 100%;
  max-width: 19.5rem;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.h2__form_title {
  font-family: Raleway;
  font-size: 2.5rem;
  font-weight: 400;
}

.p__form_title {
  font-family: Open Sans;
  font-size: 1rem;
  font-weight: 400;
}

.div__contact_dates {
  margin-top: 2.37rem;
  margin-bottom: 3.5rem;
  color: #a5a5a5;
}

.p__contact_dates {
  font-family: Open Sans;
  font-size: 1rem;
}

.img__span_contact {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.form {
  width: 100%;
}

.label__form {
  color: #08a6e4;
  font-family: Open Sans;
  font-size: 0.6875rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.input__form {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.589);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  outline: none;
  font-family: Open Sans;
  padding-bottom: 0.5rem;
  font-size: 16px;
}

.div__accept_consent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.input__checkbox {
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(129, 129, 129);
  align-self: flex-start;
  justify-content: flex-end;
  flex-shrink: 0;
  margin-right: 1rem;
  cursor: pointer;
}

.input__checkbox:checked {
  background-image: url(./img/Checkmark.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.input__checkbox:disabled {
  background-color: rgb(198, 198, 198);
  background-image: none;
}

.label__conditions {
  font-weight: 400;
  font-family: Open Sans;
  font-size: 0.75rem;
  color: #707070;
}

.button__send {
  width: 100%;
  max-width: 14.125rem;
  height: 2.5rem;
  border-radius: 2.18rem;
  border: none;
  background-color: #08a6e4;
  color: white;
  float: right;
  margin-top: 2rem;
  box-shadow: 0 5px 7px #08a6e4;
  cursor: pointer;
}

.button__send:hover {
  transition: all 200ms;
  transform: scale(1.05);
  color: #08a6e4;
  background-color: white;
}

.span__button_go {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 2rem;
  padding-left: 2rem;
}

.button__go_home {
  width: 100%;
  max-width: 3.5rem;
  height: 2.5rem;
  border: none;
  color: #08a6e4;
  background-color: white;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 2px 5px #08a6e4;
}

.button__go_home:hover {
  transition: all 200ms;
  transform: scale(1.05);
  color: white;
  background-color: #08a6e4;
}

.footer {
  width: 100%;
  display: flex;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  justify-content: space-between;
  height: 5.56rem;
}

.h2__title_footer {
  color: #08a6e4;
  font-family: Raleway;
  font-size: 1.625rem;
  font-weight: 300;
  cursor: pointer;
}

.p__copyright {
  color: #c0c0c0;
  font-family: Open Sans;
  font-size: 0.6875rem;
}

.div__img_logo {
  width: 4.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 305px) {
  .section__datas {
    padding-bottom: 6rem;
  }
}
@media screen and (min-width: 375px) {
  .div__always_first {
    margin: 0 auto;
    margin-top: 2.5rem;
  }
  .div__always_first h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .div__button_precing {
    top: 90%;
  }
  .div__money h3 {
    font-size: 21px;
  }
  .p__cant {
    font-size: 36px;
  }
}
@media screen and (min-width: 760px) {
  .section__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 42.3rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .p__cant {
    font-size: 46px;
  }
  .form {
    width: 50%;
  }
  .p__form_title {
    margin-top: 1.38rem;
  }
}
@media screen and (min-width: 840px) {
  .nav__opcions {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    top: 0;
    box-shadow: none;
    background-color: none;
    max-width: 27rem;
    height: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav__opcion {
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    color: #929292;
    font-family: "Open Sans";
    font-size: 11px;
  }
  .nav__opcion:hover {
    border-bottom: 2px solid #08a6e4;
    color: black;
  }
  .nav__menu {
    display: none;
  }
  .button__shop {
    width: 100%;
    max-width: 27.5rem;
  }
  .img__bg_pc {
    display: inline;
  }
  .img__bg_movile {
    display: none;
  }
  .div__objets_popular {
    margin: 0 auto;
    margin-top: 3rem;
    flex-direction: row;
    width: 50rem;
    justify-content: space-between;
  }
  .section__datas {
    padding-bottom: 0;
  }
  .div__always_first {
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    max-width: 71rem;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .container__text_cart {
    width: 40%;
    font-size: 16px;
  }
  .div__always_first_movile {
    flex-direction: row;
  }
  .container__img {
    max-width: 40%;
  }
  .img_below {
    width: 100%;
  }
  .img_up {
    width: 100%;
  }
  .img__img1 {
    left: 60%;
    width: 50%;
  }
  .img__img2 {
    width: 70%;
  }
  .div__line_style_pink {
    width: 100%;
    max-width: 20.43rem;
    height: 2px;
    background-color: #fb3b64;
    margin: 2rem;
    margin-left: 0;
  }
  .div__line_style_blue {
    width: 100%;
    max-width: 20.43rem;
    height: 2px;
    background-color: #08a6e4;
    margin: 2rem;
    margin-left: 0;
  }
  .div__line_style_green {
    width: 100%;
    max-width: 20.43rem;
    height: 2px;
    background-color: #55dfb4;
    margin: 2rem;
    margin-left: 0;
  }
  .div__aways_trumpet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container__text_cart_trumpet {
    width: 55%;
    max-width: 38rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container__img_trumpet {
    height: 23rem;
  }
  .img__trumpet {
    top: 5rem;
  }
  .div__general_box_precing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .box__general_pricing {
    width: 30%;
    max-width: 23rem;
    height: 31.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .opcion__pricing {
    height: 22rem;
    text-align: center;
    align-content: space-between;
    margin-top: 3rem;
  }
  .opcion__pricing li {
    margin-bottom: 1.5rem;
  }
  .div__button_precing {
    position: absolute;
    top: 30rem;
    width: 100%;
  }
}
@media screen and (min-width: 1150px) {
  .nav__opcions {
    width: 35%;
  }
  .div__general_box_precing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
  .section__form {
    width: 100%;
    max-width: 46.3rem;
  }
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
@media screen and (min-width: 1219px) {
  .img__trumpet {
    max-width: 22rem;
  }
  .section__form {
    width: 100%;
    max-width: 56rem;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .div__contact_dates {
    display: flex;
    flex-direction: row;
    width: 21rem;
    justify-content: space-between;
  }
  .p__contact_dates {
    display: flex;
    align-items: center;
  }
  .form {
    margin-left: 7.5rem;
    width: 27.5rem;
  }
}
@media screen and (min-width: 1450px) {
  .div__general_box_precing {
    width: 100%;
    max-width: 79rem;
    margin: 0 auto;
  }
  .container__text_cart_trumpet {
    width: 55%;
  }
}
@media screen and (min-width: 1946px) {
  .div__general_box_precing {
    margin: 0 auto;
  }
}

/*# sourceMappingURL=styles.css.map */
